<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="cordova-plugin-webserver"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=7.0.0" />
  </engines>

  <name>Webserver for Cordova Apps</name>
  <keywords>webserver,cordova,http, request, response,server</keywords>
  <repo>https://github.com/bykof/cordova-plugin-webserver</repo>
  <issue>https://github.com/bykof/cordova-plugin-webserver/issues</issue>

  <js-module src="webserver.js" name="webserver">
    <clobbers target="webserver" />
  </js-module>

  <platform name="android">
    <framework src="org.nanohttpd:nanohttpd:+" />
    <source-file src="src/android/Webserver.java" target-dir="src/org/apache/cordova/plugin"/>
    <source-file src="src/android/NanoHTTPDWebserver.java" target-dir="src/org/apache/cordova/plugin"/>
    <config-file target="config.xml" parent="/*">
      <feature name="Webserver">
        <param name="android-package" value="org.apache.cordova.plugin.Webserver"/>
      </feature>
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="src/ios/Webserver.swift" />
    <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>

    <framework src="libz.tbd" />
    <framework src="libxml2.tbd" />

    <!-- GCDWebserver -->
    <header-file src="src/ios/GCDWebServer/Core/GCDWebServer.h" />
    <source-file src="src/ios/GCDWebServer/Core/GCDWebServer.m" />

    <header-file src="src/ios/GCDWebServer-Bridging-Header.h"/>

    <header-file src="src/ios/GCDWebServer/Core/GCDWebServerConnection.h" />
    <source-file src="src/ios/GCDWebServer/Core/GCDWebServerConnection.m" />
    <header-file src="src/ios/GCDWebServer/Core/GCDWebServerFunctions.h" />
    <source-file src="src/ios/GCDWebServer/Core/GCDWebServerFunctions.m" />
    <header-file src="src/ios/GCDWebServer/Core/GCDWebServerHTTPStatusCodes.h" />
    <header-file src="src/ios/GCDWebServer/Core/GCDWebServerPrivate.h" />
    <header-file src="src/ios/GCDWebServer/Core/GCDWebServerRequest.h" />
    <source-file src="src/ios/GCDWebServer/Core/GCDWebServerRequest.m" />
    <header-file src="src/ios/GCDWebServer/Core/GCDWebServerResponse.h" />
    <source-file src="src/ios/GCDWebServer/Core/GCDWebServerResponse.m" />

    <!-- GCDWebserver Requests -->
    <header-file src="src/ios/GCDWebServer/Requests/GCDWebServerDataRequest.h" />
    <source-file src="src/ios/GCDWebServer/Requests/GCDWebServerDataRequest.m" />
    <header-file src="src/ios/GCDWebServer/Requests/GCDWebServerFileRequest.h" />
    <source-file src="src/ios/GCDWebServer/Requests/GCDWebServerFileRequest.m" />
    <header-file src="src/ios/GCDWebServer/Requests/GCDWebServerMultiPartFormRequest.h" />
    <source-file src="src/ios/GCDWebServer/Requests/GCDWebServerMultiPartFormRequest.m" />
    <header-file src="src/ios/GCDWebServer/Requests/GCDWebServerURLEncodedFormRequest.h" />
    <source-file src="src/ios/GCDWebServer/Requests/GCDWebServerURLEncodedFormRequest.m" />

    <!-- GCDWebserver Response -->
    <header-file src="src/ios/GCDWebServer/Responses/GCDWebServerDataResponse.h" />
    <source-file src="src/ios/GCDWebServer/Responses/GCDWebServerDataResponse.m" />
    <header-file src="src/ios/GCDWebServer/Responses/GCDWebServerErrorResponse.h" />
    <source-file src="src/ios/GCDWebServer/Responses/GCDWebServerErrorResponse.m" />
    <header-file src="src/ios/GCDWebServer/Responses/GCDWebServerFileResponse.h" />
    <source-file src="src/ios/GCDWebServer/Responses/GCDWebServerFileResponse.m" />
    <header-file src="src/ios/GCDWebServer/Responses/GCDWebServerStreamedResponse.h" />
    <source-file src="src/ios/GCDWebServer/Responses/GCDWebServerStreamedResponse.m" />


    <config-file target="config.xml" parent="/*">
      <feature name="Webserver">
        <param name="ios-package" value="Webserver" />
      </feature>
    </config-file>
  </platform>
</plugin>
